[user]
	name = Govind Sahai
	email = gsiitbhu@gmail.com
	signingkey = 8F03E619822EE19B
[credential]
	helper = cache --timeout=360000
[push]
	default = matching
[credential "https://github.com"]
	username = mnciitbhu
[credential "https://gitlab.dune-project.org"]
	username = govind.sahai
[core]
	editor = vim
[commit]
	gpgsign = true
