[user]
	name = Govind Sahai
	#email = gsiitbhu@gmail.com
	#signingkey = 8F03E619822EE19B
	email = gosahai@amazon.com
[credential]
	helper = cache --timeout=360000
[push]
	default = current
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
	gpgsign = false
[url "git@github.com:"]
	insteadOf = gh:
[url "https://aur.archlinux.org/"]
	insteadOf = aur:
[url "git@bitbucket.org:"]
	insteadOf = gb:
[url "git@gitlab.com:"]
	insteadOf = gl:

[pull]
	ff = only
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	stripLeadingSymbols = false
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)%an <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
