[user]
	name = Govind Sahai
	email = gsiitbhu@gmail.com
	signingkey = 8F03E619822EE19B
[credential]
	helper = cache --timeout=360000
[push]
	default = current
[core]
	editor = vim
	pager = most -s
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = gh:
[url "https://aur.archlinux.org/"]
	insteadOf = aur:
[url "git@bitbucket.org:"]
	insteadOf = gb:
[url "git@gitlab.com:"]
	insteadOf = gl:

[includeIf "gitdir:~/Work/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:~/go/src/github.com/dunzoit/"]
	path = ~/.gitconfig-work
[merge]
	tool = meld
[pull]
	ff = only
