[user]
	name = Govind Sahai
	email = gsiitbhu@gmail.com
	signingkey = 8F03E619822EE19B
[credential]
	helper = cache --timeout=360000
[push]
	default = matching
[credential "https://github.com"]
	username = mnciitbhu
[core]
	editor = vim
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = gh:
[url "https://aur.archlinux.org/"]
	insteadOf = aur:
[url "git@bitbucket.org:"]
	insteadOf = gb:
